@model ProjectRegistrationViewModel

<div id="addProjectModal" class="modal ">

    <div class="modal-content">
        <div class="modal-head">
            <h3>Add Project</h3>
            <button class="close-btn" data-close="true"><i class="bi bi-x-lg"></i></button>
        </div>
        <form asp-action="AddProject" asp-controller="Project" method="post" enctype="multipart/form-data" novalidate>

            <div class="form-group">
                <div id="upload-trigger" class="image-preview-container preview-square">
                    <div id="image-container" class="circle-grey">
                        <i id="preview-camera" class="bi bi-camera-fill"></i>
                        <i id="preview-pencil" class="bi bi-pencil-square hide"></i>
                    </div>
                    <input id="file-upload" asp-for="ProjectImage" type="file" accept="image/*" class="hide" />

                    <img id="image-preview" src="#" class="image-preview hide" />
                </div>
           </div>

            <div class="form-group">
                <label asp-for="Title"></label>
                <div class="field-group">
                    <input asp-for="Title" />
                    <span asp-validation-for="Title"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ClientId"></label>
                <select asp-for="ClientId" asp-items="@Model.ClientList" class="form-select">
                  <option value="">Choose client</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <div class="field-group">
                    <textarea asp-for="Description"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="form-date-group">
            <div class="form-group">
                    <label asp-for="StartDate"></label>
                <div class="field-group">
                        <input asp-for="StartDate" type="date" />
                        <span asp-validation-for="StartDate"></span>
                </div>
            </div>
            <div class="form-group">
                    <label asp-for="EndDate"></label>
                <div class="field-group">
                        <input asp-for="EndDate" type="date" />
                        <span asp-validation-for="EndDate"> </span>
                </div>
            </div>
            </div>
         
            <div class="form-group">
                <label asp-for="Budget"></label>
                <div class="field-group">
                    <div class="input-with-icon">
                        <i class="bi bi-currency-dollar"></i>
                    <input asp-for="Budget" />
                    </div>
                    <span asp-validation-for="Budget"></span>
                </div>
            </div>

            <button type="submit" class="btn-submit btn-standard mt-3">Add Project</button>
        </form>
    </div>
</div>

@* @model ProjectViewModel

<div id="addProjectModal" class="modal ">

    <div class="modal-content">
        <div class="modal-head">
            <h3>Add Project</h3>
            <button class="close-btn" data-close="true"><i class="bi bi-x-lg"></i></button>
        </div>
        <form asp-action="AddProject" asp-controller="Project" method="post" enctype="multipart/form-data" novalidate>


            <div class="form-group">
                <div id="upload-trigger" class="image-preview-container preview-square">
                    <div id="image-container" class="circle-grey">
                        <i id="preview-camera" class="bi bi-camera-fill"></i>
                        <i id="preview-pencil" class="bi bi-pencil-square hide"></i>
                    </div>
                    <input id="file-upload" asp-for="@Model.ProjectRegistration.ProjectImage" type="file" accept="image/*" class="hide" />

                    <img id="image-preview" src="#" class="image-preview hide" />
                </div>
           </div>

            <div class="form-group">
                <label asp-for="@Model.ProjectRegistration.Title"></label>
                <div class="field-group">
                    <input asp-for="@Model.ProjectRegistration.Title" />
                    <span asp-validation-for="@Model.ProjectRegistration.Title"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ProjectRegistration.ClientId"></label>
                <select asp-for="@Model.ProjectRegistration.ClientId" asp-items="@Model.ClientList" class="form-select">
                  <option value="">Choose client</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ProjectRegistration.Description"></label>
                <div class="field-group">
                    <textarea asp-for="@Model.ProjectRegistration.Description"></textarea>
                    <span asp-validation-for="@Model.ProjectRegistration.Description"></span>
                </div>
            </div>
            <div class="form-date-group">
            <div class="form-group">
                    <label asp-for="@Model.ProjectRegistration.StartDate"></label>
                <div class="field-group">
                        <input asp-for="@Model.ProjectRegistration.StartDate" type="date" />
                        <span asp-validation-for="@Model.ProjectRegistration.StartDate"></span>
                </div>
            </div>
            <div class="form-group">
                    <label asp-for="@Model.ProjectRegistration.EndDate"></label>
                <div class="field-group">
                        <input asp-for="@Model.ProjectRegistration.EndDate" type="date" />
                        <span asp-validation-for="@Model.ProjectRegistration.EndDate"> </span>
                </div>
            </div>
            </div>
         
            <div class="form-group">
                <label asp-for="@Model.ProjectRegistration.Budget"></label>
                <div class="field-group">
                    <input asp-for="@Model.ProjectRegistration.Budget" />
                    <span asp-validation-for="@Model.ProjectRegistration.Budget"></span>
                </div>
            </div>

            <button type="submit" class="btn-submit btn-standard mt-3">Add Project</button>
        </form>
    </div>
</div> *@
       
       