@model ProjectViewModel

<div id="editProjectModal" class="modal ">

    <div class="modal-content">
        <div class="modal-head">
            <h3>Add Project</h3>
            <button class="close-btn" data-close="true"><i class="bi bi-x-lg"></i></button>
        </div>
        <form asp-action="EditProject" asp-controller="Project" method="post" enctype="multipart/form-data" novalidate>
            <input id="projectId" asp-for="@Model.ProjectEdit.Id" readonly type="hidden" value="@Model.ProjectEdit.Id" />

            <div class="form-group">
                <div id="upload-trigger" class="image-preview-container preview-square">
                    <div id="image-container" class="circle-grey">
                        <i id="preview-camera" class="bi bi-camera-fill"></i>
                        <i id="preview-pencil" class="bi bi-pencil-square hide"></i>
                    </div>
                    <input id="file-upload" asp-for="@Model.ProjectEdit.ProjectImage" type="file" accept="image/*" class="hide" />

                    <img id="image-preview" src="#" class="hide" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ProjectEdit.Title"></label>
                <div class="field-group">
                    <input id="projectTitle" asp-for="@Model.ProjectEdit.Title" />
                    <span asp-validation-for="@Model.ProjectEdit.Title"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ProjectEdit.ClientId"></label>
                <select id="projectClientId" asp-for="@Model.ProjectEdit.ClientId" asp-items="@Model.ClientList" class="form-select">
                    <option value="">Choose client</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ProjectEdit.Description"></label>
                <div class="field-group">
                    <textarea id="projectDescription" asp-for="@Model.ProjectEdit.Description"></textarea>
                    <span asp-validation-for="@Model.ProjectEdit.Description"></span>
                </div>
            </div>
            <div class="form-date-group">
                <div class="form-group">
                    <label asp-for="@Model.ProjectEdit.StartDate"></label>
                    <div class="field-group">
                        <input id="projectStart" asp-for="@Model.ProjectEdit.StartDate" type="date" />
                        <span asp-validation-for="@Model.ProjectEdit.StartDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ProjectEdit.EndDate"></label>
                    <div class="field-group">
                        <input id="projectEnd" asp-for="@Model.ProjectEdit.EndDate" type="date" />
                        <span asp-validation-for="@Model.ProjectEdit.EndDate"> </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ProjectEdit.Budget"></label>
                <div class="field-group">
                    <input id="projectBudget" asp-for="@Model.ProjectEdit.Budget" />
                    <span asp-validation-for="@Model.ProjectEdit.Budget"></span>
                </div>
            </div>

            <button type="submit" class="btn-submit btn-standard mt-3">Add Project</button>
        </form>
    </div>
</div>
